@using ControleEstoqueNETFramework.Models

<div> 
    @{Produto produto = ViewBag.produto; }
         
    Id: @produto.Id <br />
    Nome: @produto.Nome <br />
    Descrição: @produto.Descricao <br />
    Preço: @produto.Preco <br />
    Quantidade: @produto.Quantidade <br />
    Categoria: @produto.Categoria.Descricao <br />

    @Html.RouteLink("Voltar","ListaProdutos")
</div>
